body{
	background-image: url("Patinhas.jpg");
	background-size: auto;
}

.logo{
	width:100px;
}

.carrinho{
	width: 30px;
}

.justificado{
	display: flex;
	justify-content: space-between;
}

.dimensoes-carrousel{
	height: 400px;
}

.imagem-carrousel{
	height: 400px; 
}

.lista-produtos{
	margin-top: 25px;
}