body{
	background-image: url("Patinhas.jpg");
	background-size: auto;
}

.logo{
	width:100px;
}

.dimensoes-carrousel{
	height: 400px;
}

.imagem-carrousel{
	height: 400px; 
}

.busca{
	margin-left: 25px;
}